*, *::after, *::before {
  box-sizing: border-box;
}

body{
  background: #777;
}

.interviewee{
  position: fixed;
  bottom: 0;
  right: 0;
  line-height: 1em;
  padding: .5em .8em;
  background: #fff;
  opacity: .8;
  border-radius: 1em 0 0 0;
  z-index: 9;
}

main {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  background: #eaeaea;
}

/* search */
.search {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -1px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #777;
  color: #fff;
  opacity: .8;
}

.search__field {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.search__field:first-child {
  margin-bottom: 20px;
}

.search__field > div {
  display: flex;
  align-items: center;
}


/* list */
.list {
  display: flex;
  flex-wrap: wrap;
}

.user__wrapper {
  flex: 0 0 auto;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
}

.user {
  padding: 10px;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #00000066;
}

.user h3, p {
  margin-bottom: 10px;
}

.user p:last-child {
  margin-bottom: 0;
}

.empty-result {
  margin: 0 10px 10px;
}

.user__field {
  width: 100%;
  display: flex;
}

.user__field label {
  flex: 0 0 80px;
}

.user__field span {
  width: calc(100% - 80px);
  word-wrap:break-word;
}

@media (min-width: 576px) {
  .search {
    flex-direction: row;
    align-items: center;
  }
  .search__field {
    flex-direction: row;
  }
  .search__field:first-child {
    margin-bottom: 0;
  }
}

@media (min-width: 786px) {
  .user__wrapper {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .user__wrapper {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .search {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .user__wrapper {
    flex: 0 0 auto;
    width: 25%;
  }
}

/* loading */
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__spot {
  display: block;
  height: 36px;
  width: 10px;
  background: #fff;
  margin-right: 24px;
  animation: scale 1.6s ease-in-out infinite;
  transform-origin: 50% 50%;
  box-shadow: 2px 2px 2px #00aeff;
}

.loading__spot-1 {
  animation-delay: 1s;
}

.loading__spot-2 {
  animation-delay: 1.2s;
}

.loading__spot-3 {
  animation-delay: 1.3s;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* back-to-top */
.back-to-top {
  display: inline-block;
  background-color: #00aaffaa;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  bottom: 50px;
  right: 10%;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

.back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 38px;
  color: #fff;
}

.back-to-top:hover {
  cursor: pointer;
  background-color: #00aaff;
}

.back-to-top:active {
  background-color: #555;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}